<% include ../partials/header %>
	<div class="container">
		<div class="page-header">
			<h2>Checking out... <%= checkout.name %></h2>
		</div>		
		<ul class="list-group">
			<% var total = 0 %>
			<% checkout.list.forEach(function(item){ %>
				<li class="list-group-item"><%= item.name %> x <span><%= item.quantity %></span> = <span class="pull-right">$ <%= item.price %></span></li>
				<% total += (item.price * item.quantity ) %>
			<% }) %>
		</ul>
		<hr>
		<p><strong>Total <span class="pull-right">$ <%= total %></span></strong></p>
	</div>
<% include ../partials/footer %>